<%- include('../_header1.ejs') -%>

<title>Kolofon | magiskepiksler.com</title>

<style type="text/css">.header__link--kolofon { color: var(--grey-800); border: none;}</style>

<%- include('../_header2.ejs') -%>


<h1 class="articlelist__header">Kolofon</h1>

<ul>

    <li>Dette nettstedet består av håndskrevet HTML og CSS, krydret med litt Javascript.</li>

    <li>Nytt innhold publiseres sporadisk, og forfattes av Magnus Haugsand, User Experience Lead hos <a href="https://www.kantega.no">Kantega</a>.</li>

    <li>Static-site-generatoren <a href="https://github.com/mourner/tinyjam">Tinyjam</a> av <a href="https://agafonkin.com/">Vladimir Agafonkin</a> setter sammen Javascript-templates og Markdown-filer til statiske HTML-filer ved bygging.</li>

    <li>Den animerte logoen er inspirert av fonten <a href="https://www.dafont.com/sayso-chic.font?text=magiske+piksler">Sayso Chic</a>.</li>

    <li>Fontene som benyttes er <a href="https://fonts.google.com/specimen/IBM+Plex+Sans">IBM Plex Sans</a> og <a href="https://fonts.google.com/specimen/IBM+Plex+Mono">IBM Plex Mono</a> fra <a href="https://fonts.google.com/">Google Fonts</a>.</li>

    <li>Kildekoden er fritt tilgjengelig på <a href="https://github.com/haugsand/magiskepiksler.com">Github</a>.</li>

</ul>






<%- include('../_footer.ejs') -%>


