.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: var(--space-xxl) 7%;
}

.header__logo {
  align-items: center;
  display: flex;
}

.header__logolink {
  border-bottom: none;
}

.header__navigation {
}

.header__list {
  display: flex;
  margin: 0;
}

.header__listitem {
  margin: 0 var(--space-xl) 0 0;
  padding: 0;
}

.header__listitem::before {
  display: none;
}

.header__listitem:last-child {
  margin-right: 0;
}

.header__link {
  font-weight: 500;
  text-decoration: none;
  display: block;
  font-size: var(--fontsize-small);
  line-height: var(--lineheight-small);
  padding: 0.125rem 0;
  color: inherit;
  border-bottom: 0.125rem solid var(--purple-100);
  border-top: 0.125rem solid transparent;
}

.header__link:hover {
  color: inherit;
}

.header__link::after {
    content: "";
    height: 0.125rem;
    width: 0;
    background: var(--purple-400);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.2s width;
}

.header__link:hover::after {
  width: 100%;
}


.page--innlegg .header__link--innlegg,
.page--ellers .header__link--ellers,
.page--kolofon .header__link--kolofon {
  border-bottom-color: transparent;
  color: var(--purple-500);
}


.header__link:focus {
  background-color: var(--purple-100);
  outline: var(--purple-100) solid thin;
}



@media (max-width: 35em) {
  .header {
    align-items: center;
    flex-direction: column;
    padding: var(--space-xl) 7%;
  }

  .header__logo {
    margin-bottom: var(--space-m);
  }
}
