  </main>
</div>
<footer class="footer">
  <ul class="footer__list">
    <li class="footer__listitem">
      <a href="/rss.xml" class="footer__link">

        <img src="/svg/rss-icon.svg" alt="" width="24". height="24">

      RSS

      </a>
    </li>
    <li class="footer__listitem">
      <a href="https://github.com/haugsand/magiskepiksler.com" class="footer__link">

      
        <img src="/svg/github-icon.svg" alt="" width="24". height="24">

      Github

      </a>
    </li>
    <li class="footer__listitem">
      <a href="https://twitter.com/magghau" class="footer__link">

        <img src="/svg/twitter-icon.svg" alt="" width="24". height="24">

      Twitter

      </a>
    </li>
  </ul>
</footer>




  </body>

</html>