    <link rel="preload" href="/fonts/IBMPlexSans-Light.woff2" as="font">
    <link rel="preload" href="/fonts/IBMPlexSans-Medium.woff2" as="font">
    <link rel="preload" href="/fonts/IBMPlexMono-Light.woff2" as="font">

    <link rel="stylesheet" href="/css/index.css?v=<%= root.data.styleVersion %>" />
    <link rel="icon" type="image/png" href="/gfx/favicon-32x32.png" sizes="32x32">


    <script type="text/javascript" src="/js/script.js?v=<%= root.data.javascriptVersion %>"></script>
  </head>

  <body>
    <div class="top"></div>

    <div>

      <header class="header">
        <div class="header__logo">
          <a href="/" aria-label="Magiske piksler" class="header__logolink">
          <%- include('_logo.ejs') -%>
          </a>
        </div>

        <nav class="header__navigation">
          <ul class="header__list">
            <li class="header__listitem">
              <a href="/" class="header__link">Innlegg</a>
            </li>         
             <li class="header__listitem">
              <a href="/ellers" class="header__link">Ellers</a>
            </li>
          </ul>
        </nav>
      </header>

      <main>