<!DOCTYPE html>
<html lang="no">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Magiske piksler</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;500&display=swap"
    />

    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="<%= rootPath %>/css/index.css" />
  </head>

  <body>
    <div class="top"></div>

    <header class="header">
      <div class="header__logo" aria-label="Magiske piksler">
        <a href="/">
        <%- include('_logo.ejs') -%>
        </a>
      </div>

      <nav class="header__navigation">
        <ul class="header__list">
          <li class="header__listitem">
            <a href="/" class="header__link">Innlegg</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>