
  </head>

  <body>
    <div class="top"></div>

    <div>

      <header class="header">
        <div class="header__logo">
          <a href="/" aria-label="Magiske piksler" class="header__logolink">
          <%- include('_logo.ejs') -%>
          </a>
        </div>

        <nav class="header__navigation">
          <ul class="header__list">
            <li class="header__listitem">
              <a href="/" class="header__link header__link--innlegg">Innlegg</a>
            </li>         
             <li class="header__listitem">
              <a href="/ellers" class="header__link header__link--ellers">Ellers</a>
            </li>            </li>         
             <li class="header__listitem">
              <a href="/kolofon" class="header__link header__link--kolofon">Kolofon</a>
            </li>
          </ul>
        </nav>
      </header>

      <main>