
    <div class="mp__magiske-piksler">
        <div class="mp__magiske">

            <!-- m -->

            <span style="top:1em;left:0;"></span>
            <span style="top:2em;left:0;"></span>
            <span style="top:3em;left:0;"></span>
            <span style="top:4em;left:0;"></span>
            <span style="top:5em;left:0;"></span>

            <span style="top:1em;left:1em;"></span>

            <span style="top:2em;left:2em;"></span>
            <span style="top:3em;left:2em;"></span>
            <span style="top:4em;left:2em;"></span>
            <span style="top:5em;left:2em;"></span>

            <span style="top:1em;left:3em;"></span>

            <span style="top:2em;left:4em;"></span>
            <span style="top:3em;left:4em;"></span>
            <span style="top:4em;left:4em;"></span>
            <span style="top:5em;left:4em;"></span>

            <!-- a -->

            <span style="top:3em;left:6em;"></span>
            <span style="top:4em;left:6em;"></span>

            <span style="top:1em;left:7em;"></span>
            <span style="top:3em;left:7em;"></span>
            <span style="top:5em;left:7em;"></span>

            <span style="top:1em;left:8em;"></span>
            <span style="top:2em;left:8em;"></span>
            <span style="top:3em;left:8em;"></span>
            <span style="top:4em;left:8em;"></span>
            <span style="top:5em;left:8em;"></span>

            <!-- g -->

            <span style="top:2em;left:10em;"></span>
            <span style="top:3em;left:10em;"></span>

            <span style="top:1em;left:11em;"></span>
            <span style="top:4em;left:11em;"></span>
            <span style="top:6em;left:11em;"></span>

            <span style="top:1em;left:12em;"></span>
            <span style="top:2em;left:12em;"></span>
            <span style="top:3em;left:12em;"></span>
            <span style="top:4em;left:12em;"></span>
            <span style="top:5em;left:12em;"></span>
            <span style="top:6em;left:12em;"></span>

            <!-- i -->

            <span style="top:0;left:14em;"></span>
            <span style="top:2em;left:14em;"></span>
            <span style="top:3em;left:14em;"></span>
            <span style="top:4em;left:14em;"></span>
            <span style="top:5em;left:14em;"></span>

            <!-- s -->

            <span style="top:2em;left:16em;"></span>
            <span style="top:5em;left:16em;"></span>

            <span style="top:1em;left:17em;"></span>
            <span style="top:3em;left:17em;"></span>
            <span style="top:5em;left:17em;"></span>

            <span style="top:1em;left:18em;"></span>
            <span style="top:4em;left:18em;"></span>

            <!-- k -->

            <span style="top:0;left:20em;"></span>
            <span style="top:1em;left:20em;"></span>
            <span style="top:2em;left:20em;"></span>
            <span style="top:3em;left:20em;"></span>
            <span style="top:4em;left:20em;"></span>
            <span style="top:5em;left:20em;"></span>

            <span style="top:3em;left:21em;"></span>

            <span style="top:1em;left:22em;"></span>
            <span style="top:2em;left:22em;"></span>
            <span style="top:4em;left:22em;"></span>
            <span style="top:5em;left:22em;"></span>

            <!-- e -->

            <span style="top:2em;left:24em;"></span>
            <span style="top:3em;left:24em;"></span>
            <span style="top:4em;left:24em;"></span>

            <span style="top:1em;left:25em;"></span>
            <span style="top:3em;left:25em;"></span>
            <span style="top:5em;left:25em;"></span>

            <span style="top:2em;left:26em;"></span>
            <span style="top:3em;left:26em;"></span>


        </div>

        <div class="mp__piksler">

            <!-- p -->

            <span style="top:1em;left:0;"></span>
            <span style="top:2em;left:0;"></span>
            <span style="top:3em;left:0;"></span>
            <span style="top:4em;left:0;"></span>
            <span style="top:5em;left:0;"></span>
            <span style="top:6em;left:0;"></span>

            <span style="top:1em;left:1em;"></span>
            <span style="top:4em;left:1em;"></span>

            <span style="top:2em;left:2em;"></span>
            <span style="top:3em;left:2em;"></span>

            <!-- i -->

            <span style="top:0;left:4em;"></span>
            <span style="top:2em;left:4em;"></span>
            <span style="top:3em;left:4em;"></span>
            <span style="top:4em;left:4em;"></span>
            <span style="top:5em;left:4em;"></span>


            <!-- k -->

            <span style="top:0;left:6em;"></span>
            <span style="top:1em;left:6em;"></span>
            <span style="top:2em;left:6em;"></span>
            <span style="top:3em;left:6em;"></span>
            <span style="top:4em;left:6em;"></span>
            <span style="top:5em;left:6em;"></span>

            <span style="top:3em;left:7em;"></span>

            <span style="top:1em;left:8em;"></span>
            <span style="top:2em;left:8em;"></span>
            <span style="top:4em;left:8em;"></span>
            <span style="top:5em;left:8em;"></span>

            <!-- s -->

            <span style="top:2em;left:10em;"></span>
            <span style="top:5em;left:10em;"></span>

            <span style="top:1em;left:11em;"></span>
            <span style="top:3em;left:11em;"></span>
            <span style="top:5em;left:11em;"></span>

            <span style="top:1em;left:12em;"></span>
            <span style="top:4em;left:12em;"></span>

            <!-- l -->

            <span style="top:0;left:14em;"></span>
            <span style="top:1em;left:14em;"></span>
            <span style="top:2em;left:14em;"></span>
            <span style="top:3em;left:14em;"></span>
            <span style="top:4em;left:14em;"></span>
            <span style="top:5em;left:14em;"></span>

            <!-- e -->

            <span style="top:2em;left:16em;"></span>
            <span style="top:3em;left:16em;"></span>
            <span style="top:4em;left:16em;"></span>

            <span style="top:1em;left:17em;"></span>
            <span style="top:3em;left:17em;"></span>
            <span style="top:5em;left:17em;"></span>

            <span style="top:2em;left:18em;"></span>
            <span style="top:3em;left:18em;"></span>

            <!-- e -->

            <span style="top:1em;left:20em;"></span>
            <span style="top:2em;left:20em;"></span>
            <span style="top:3em;left:20em;"></span>
            <span style="top:4em;left:20em;"></span>
            <span style="top:5em;left:20em;"></span>

            <span style="top:1em;left:21em;"></span>

        </div>
    </div>
