
    <div class="mp__magiske-piksler">
        <div class="mp__magiske">

            <!-- m -->

            <span style="top:calc(var(--ratio)*1);left:0;"></span>
            <span style="top:calc(var(--ratio)*2);left:0;"></span>
            <span style="top:calc(var(--ratio)*3);left:0;"></span>
            <span style="top:calc(var(--ratio)*4);left:0;"></span>
            <span style="top:calc(var(--ratio)*5);left:0;"></span>

            <span style="top:calc(var(--ratio)*1);left:calc(var(--ratio)*1);"></span>

            <span style="top:calc(var(--ratio)*2);left:calc(var(--ratio)*2);"></span>
            <span style="top:calc(var(--ratio)*3);left:calc(var(--ratio)*2);"></span>
            <span style="top:calc(var(--ratio)*4);left:calc(var(--ratio)*2);"></span>
            <span style="top:calc(var(--ratio)*5);left:calc(var(--ratio)*2);"></span>

            <span style="top:calc(var(--ratio)*1);left:calc(var(--ratio)*3);"></span>

            <span style="top:calc(var(--ratio)*2);left:calc(var(--ratio)*4);"></span>
            <span style="top:calc(var(--ratio)*3);left:calc(var(--ratio)*4);"></span>
            <span style="top:calc(var(--ratio)*4);left:calc(var(--ratio)*4);"></span>
            <span style="top:calc(var(--ratio)*5);left:calc(var(--ratio)*4);"></span>

            <!-- a -->

            <span style="top:calc(var(--ratio)*3);left:calc(var(--ratio)*6);"></span>
            <span style="top:calc(var(--ratio)*4);left:calc(var(--ratio)*6);"></span>

            <span style="top:calc(var(--ratio)*1);left:calc(var(--ratio)*7);"></span>
            <span style="top:calc(var(--ratio)*3);left:calc(var(--ratio)*7);"></span>
            <span style="top:calc(var(--ratio)*5);left:calc(var(--ratio)*7);"></span>

            <span style="top:calc(var(--ratio)*1);left:calc(var(--ratio)*8);"></span>
            <span style="top:calc(var(--ratio)*2);left:calc(var(--ratio)*8);"></span>
            <span style="top:calc(var(--ratio)*3);left:calc(var(--ratio)*8);"></span>
            <span style="top:calc(var(--ratio)*4);left:calc(var(--ratio)*8);"></span>
            <span style="top:calc(var(--ratio)*5);left:calc(var(--ratio)*8);"></span>

            <!-- g -->

            <span style="top:calc(var(--ratio)*2);left:calc(var(--ratio)*10);"></span>
            <span style="top:calc(var(--ratio)*3);left:calc(var(--ratio)*10);"></span>

            <span style="top:calc(var(--ratio)*1);left:calc(var(--ratio)*11);"></span>
            <span style="top:calc(var(--ratio)*4);left:calc(var(--ratio)*11);"></span>
            <span style="top:calc(var(--ratio)*6);left:calc(var(--ratio)*11);"></span>

            <span style="top:calc(var(--ratio)*1);left:calc(var(--ratio)*12);"></span>
            <span style="top:calc(var(--ratio)*2);left:calc(var(--ratio)*12);"></span>
            <span style="top:calc(var(--ratio)*3);left:calc(var(--ratio)*12);"></span>
            <span style="top:calc(var(--ratio)*4);left:calc(var(--ratio)*12);"></span>
            <span style="top:calc(var(--ratio)*5);left:calc(var(--ratio)*12);"></span>
            <span style="top:calc(var(--ratio)*6);left:calc(var(--ratio)*12);"></span>

            <!-- i -->

            <span style="top:0;left:calc(var(--ratio)*14);"></span>
            <span style="top:calc(var(--ratio)*2);left:calc(var(--ratio)*14);"></span>
            <span style="top:calc(var(--ratio)*3);left:calc(var(--ratio)*14);"></span>
            <span style="top:calc(var(--ratio)*4);left:calc(var(--ratio)*14);"></span>
            <span style="top:calc(var(--ratio)*5);left:calc(var(--ratio)*14);"></span>

            <!-- s -->

            <span style="top:calc(var(--ratio)*2);left:calc(var(--ratio)*16);"></span>
            <span style="top:calc(var(--ratio)*5);left:calc(var(--ratio)*16);"></span>

            <span style="top:calc(var(--ratio)*1);left:calc(var(--ratio)*17);"></span>
            <span style="top:calc(var(--ratio)*3);left:calc(var(--ratio)*17);"></span>
            <span style="top:calc(var(--ratio)*5);left:calc(var(--ratio)*17);"></span>

            <span style="top:calc(var(--ratio)*1);left:calc(var(--ratio)*18);"></span>
            <span style="top:calc(var(--ratio)*4);left:calc(var(--ratio)*18);"></span>

            <!-- k -->

            <span style="top:0;left:calc(var(--ratio)*20);"></span>
            <span style="top:calc(var(--ratio)*1);left:calc(var(--ratio)*20);"></span>
            <span style="top:calc(var(--ratio)*2);left:calc(var(--ratio)*20);"></span>
            <span style="top:calc(var(--ratio)*3);left:calc(var(--ratio)*20);"></span>
            <span style="top:calc(var(--ratio)*4);left:calc(var(--ratio)*20);"></span>
            <span style="top:calc(var(--ratio)*5);left:calc(var(--ratio)*20);"></span>

            <span style="top:calc(var(--ratio)*3);left:calc(var(--ratio)*21);"></span>

            <span style="top:calc(var(--ratio)*1);left:calc(var(--ratio)*22);"></span>
            <span style="top:calc(var(--ratio)*2);left:calc(var(--ratio)*22);"></span>
            <span style="top:calc(var(--ratio)*4);left:calc(var(--ratio)*22);"></span>
            <span style="top:calc(var(--ratio)*5);left:calc(var(--ratio)*22);"></span>

            <!-- e -->

            <span style="top:calc(var(--ratio)*2);left:calc(var(--ratio)*24);"></span>
            <span style="top:calc(var(--ratio)*3);left:calc(var(--ratio)*24);"></span>
            <span style="top:calc(var(--ratio)*4);left:calc(var(--ratio)*24);"></span>

            <span style="top:calc(var(--ratio)*1);left:calc(var(--ratio)*25);"></span>
            <span style="top:calc(var(--ratio)*3);left:calc(var(--ratio)*25);"></span>
            <span style="top:calc(var(--ratio)*5);left:calc(var(--ratio)*25);"></span>

            <span style="top:calc(var(--ratio)*2);left:calc(var(--ratio)*26);"></span>
            <span style="top:calc(var(--ratio)*3);left:calc(var(--ratio)*26);"></span>


        </div>

        <div class="mp__piksler">

            <!-- p -->

            <span style="top:calc(var(--ratio)*1);left:0;"></span>
            <span style="top:calc(var(--ratio)*2);left:0;"></span>
            <span style="top:calc(var(--ratio)*3);left:0;"></span>
            <span style="top:calc(var(--ratio)*4);left:0;"></span>
            <span style="top:calc(var(--ratio)*5);left:0;"></span>
            <span style="top:calc(var(--ratio)*6);left:0;"></span>

            <span style="top:calc(var(--ratio)*1);left:calc(var(--ratio)*1);"></span>
            <span style="top:calc(var(--ratio)*4);left:calc(var(--ratio)*1);"></span>

            <span style="top:calc(var(--ratio)*2);left:calc(var(--ratio)*2);"></span>
            <span style="top:calc(var(--ratio)*3);left:calc(var(--ratio)*2);"></span>

            <!-- i -->

            <span style="top:0;left:calc(var(--ratio)*4);"></span>
            <span style="top:calc(var(--ratio)*2);left:calc(var(--ratio)*4);"></span>
            <span style="top:calc(var(--ratio)*3);left:calc(var(--ratio)*4);"></span>
            <span style="top:calc(var(--ratio)*4);left:calc(var(--ratio)*4);"></span>
            <span style="top:calc(var(--ratio)*5);left:calc(var(--ratio)*4);"></span>


            <!-- k -->

            <span style="top:0;left:calc(var(--ratio)*6);"></span>
            <span style="top:calc(var(--ratio)*1);left:calc(var(--ratio)*6);"></span>
            <span style="top:calc(var(--ratio)*2);left:calc(var(--ratio)*6);"></span>
            <span style="top:calc(var(--ratio)*3);left:calc(var(--ratio)*6);"></span>
            <span style="top:calc(var(--ratio)*4);left:calc(var(--ratio)*6);"></span>
            <span style="top:calc(var(--ratio)*5);left:calc(var(--ratio)*6);"></span>

            <span style="top:calc(var(--ratio)*3);left:calc(var(--ratio)*7);"></span>

            <span style="top:calc(var(--ratio)*1);left:calc(var(--ratio)*8);"></span>
            <span style="top:calc(var(--ratio)*2);left:calc(var(--ratio)*8);"></span>
            <span style="top:calc(var(--ratio)*4);left:calc(var(--ratio)*8);"></span>
            <span style="top:calc(var(--ratio)*5);left:calc(var(--ratio)*8);"></span>

            <!-- s -->

            <span style="top:calc(var(--ratio)*2);left:calc(var(--ratio)*10);"></span>
            <span style="top:calc(var(--ratio)*5);left:calc(var(--ratio)*10);"></span>

            <span style="top:calc(var(--ratio)*1);left:calc(var(--ratio)*11);"></span>
            <span style="top:calc(var(--ratio)*3);left:calc(var(--ratio)*11);"></span>
            <span style="top:calc(var(--ratio)*5);left:calc(var(--ratio)*11);"></span>

            <span style="top:calc(var(--ratio)*1);left:calc(var(--ratio)*12);"></span>
            <span style="top:calc(var(--ratio)*4);left:calc(var(--ratio)*12);"></span>

            <!-- l -->

            <span style="top:0;left:calc(var(--ratio)*14);"></span>
            <span style="top:calc(var(--ratio)*1);left:calc(var(--ratio)*14);"></span>
            <span style="top:calc(var(--ratio)*2);left:calc(var(--ratio)*14);"></span>
            <span style="top:calc(var(--ratio)*3);left:calc(var(--ratio)*14);"></span>
            <span style="top:calc(var(--ratio)*4);left:calc(var(--ratio)*14);"></span>
            <span style="top:calc(var(--ratio)*5);left:calc(var(--ratio)*14);"></span>

            <!-- e -->

            <span style="top:calc(var(--ratio)*2);left:calc(var(--ratio)*16);"></span>
            <span style="top:calc(var(--ratio)*3);left:calc(var(--ratio)*16);"></span>
            <span style="top:calc(var(--ratio)*4);left:calc(var(--ratio)*16);"></span>

            <span style="top:calc(var(--ratio)*1);left:calc(var(--ratio)*17);"></span>
            <span style="top:calc(var(--ratio)*3);left:calc(var(--ratio)*17);"></span>
            <span style="top:calc(var(--ratio)*5);left:calc(var(--ratio)*17);"></span>

            <span style="top:calc(var(--ratio)*2);left:calc(var(--ratio)*18);"></span>
            <span style="top:calc(var(--ratio)*3);left:calc(var(--ratio)*18);"></span>

            <!-- e -->

            <span style="top:calc(var(--ratio)*1);left:calc(var(--ratio)*20);"></span>
            <span style="top:calc(var(--ratio)*2);left:calc(var(--ratio)*20);"></span>
            <span style="top:calc(var(--ratio)*3);left:calc(var(--ratio)*20);"></span>
            <span style="top:calc(var(--ratio)*4);left:calc(var(--ratio)*20);"></span>
            <span style="top:calc(var(--ratio)*5);left:calc(var(--ratio)*20);"></span>

            <span style="top:calc(var(--ratio)*1);left:calc(var(--ratio)*21);"></span>

        </div>
    </div>
